[submodule "ros2_ws/src/tiago_moveit_config"]
	path = ros2_ws/src/tiago_moveit_config
	url = https://github.com/pal-robotics/tiago_moveit_config.git
[submodule "ros2_ws/src/tiago_robot"]
	path = ros2_ws/src/tiago_robot
	url = https://github.com/pal-robotics/tiago_robot.git
[submodule "ros2_ws/src/launch_pal"]
	path = ros2_ws/src/launch_pal
	url = https://github.com/pal-robotics/launch_pal.git
[submodule "ros2_ws/src/tiago_simulation"]
	path = ros2_ws/src/tiago_simulation
	url = https://github.com/pal-robotics/tiago_simulation.git
[submodule "ros2_ws/src/urdf_test"]
	path = ros2_ws/src/urdf_test
	url = https://github.com/pal-robotics/urdf_test.git
[submodule "ros2_ws/src/tiago_navigation"]
	path = ros2_ws/src/tiago_navigation
	url = https://github.com/pal-robotics/tiago_navigation.git
[submodule "ros2_ws/src/pmb2_robot"]
	path = ros2_ws/src/pmb2_robot
	url = https://github.com/pal-robotics/pmb2_robot.git
[submodule "ros2_ws/src/pmb2_navigation"]
	path = ros2_ws/src/pmb2_navigation
	url = https://github.com/pal-robotics/pmb2_navigation.git
[submodule "ros2_ws/src/play_motion2"]
	path = ros2_ws/src/play_motion2
	url = https://github.com/pal-robotics/play_motion2.git
[submodule "ros2_ws/src/pal_urdf_utils"]
	path = ros2_ws/src/pal_urdf_utils
	url = https://github.com/pal-robotics/pal_urdf_utils.git
[submodule "ros2_ws/src/pal_navigation_cfg_public"]
	path = ros2_ws/src/pal_navigation_cfg_public
	url = https://github.com/pal-robotics/pal_navigation_cfg_public.git
[submodule "ros2_ws/src/pal_hey5"]
	path = ros2_ws/src/pal_hey5
	url = https://github.com/pal-robotics/pal_hey5.git
[submodule "ros2_ws/src/pal_gripper"]
	path = ros2_ws/src/pal_gripper
	url = https://github.com/pal-robotics/pal_gripper.git
[submodule "ros2_ws/src/pal_gazebo_worlds"]
	path = ros2_ws/src/pal_gazebo_worlds
	url = https://github.com/pal-robotics/pal_gazebo_worlds.git
[submodule "ros2_ws/src/pal_robotiq_gripper"]
	path = ros2_ws/src/pal_robotiq_gripper
	url = https://github.com/pal-robotics/pal_robotiq_gripper.git
[submodule "ros2_ws/src/IFRA-Cranfield"]
	path = ros2_ws/src/IFRA-Cranfield
	url = https://github.com/IFRA-Cranfield/IFRA_LinkAttacher.git
[submodule "ros2_ws/src/IFRA_LinkAttacher"]
	path = ros2_ws/src/IFRA_LinkAttacher
	url = https://github.com/IFRA-Cranfield/IFRA_LinkAttacher.git